<!Doctype html>
<html>
<header>
    <head>   
            <title>({My Blog})</title>    
    </head>
</header>

<body>

    <label> Post One
        <p> Wedding Season during the summer means non-stop preparation.</p>    
    </label>
  
    <label> Post Two
            <p> Being Blind on a Tuesday. Eek</p>    
    </label>

    <label> Post Three
            <p> Trump vs Tiger. Too bad the Tiger didnt win. </p>    
    </label>
    
  
</body>
<footer>
    Build-A-Blog Assignment
</footer>
</html>